body {
    background-color:white;
    background-image:url("Achtergrond-site.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}
h1 {
    Color:gold;
    font-family:serif;
    text-align:center;
    border-style: solid;
    border-width: 5px;  
    background-color:rgba(255, 255, 255, 0.3);
    margin-left: 30%;
    margin-right: 30%;
    -webkit-text-fill-color: gold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
p {
    color:black;
    font-family:serif;
    text-align:center;
    font-size: 20px;
    text-shadow: 5px 5px 5px black;
    text-decoration-line: overline underline;
    text-decoration-style: solid;
}
button {
    border:double 10px gold;
    background-color:white;
    color:black;
    font-family:serif;
    cursor:pointer;
    border-radius: 12px;
}
a{
    border: double 10px gold;
    background-color: white;
    color: black;
    font-family: serif;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
}
a:link {
    background-color: white;
}
a:visited{
    background-color: white;
}
a:hover{
    text-decoration-line: underline;
    color: orange;
}
a:active{
    border:solid 5px;
    border-radius: 12px;
    background-color: gold;
    border-color: white;
}
.language-pl{
    float:right;
    color:black;
    outline: 3px black;
    text-decoration-line: underline;
}